:root {
  --primary: #f67280;
  --bg: #f8b195;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #355c7d;
  min-height: 2000px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999999999999999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #355c7d;
}

.navbar .navbar-logo span {
  color: #f67280;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #355c7d;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #355c7d;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #f67280;
}

#humberger-menu {
  display: none;
}

/* Hero Section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255) 10%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #355c7d;
  text-shadow: 1px 1px 3px rgba(255, 255, 255) 0.5;
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(255, 255, 255) 0.5;
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  line-height: 2;
  color: #355c7d;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* MEDIA QUERIES */

/* TENTANG KAMI */
.about {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: aliceblue;
}

.about h2 span {
  color: #355c7d;
}

.about .row {
  display: flex;
  padding: 1.4rem 7%;
}

.about .content {
  padding: 1rem 3rem;
}

/* LAPTOP */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #humberger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: aliceblue;
    width: 30rem;
    height: 100vh;
    transition: 0.7s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #355c7d;
    display: block;
    margin: 1.5rem;
    padding: 8px;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  /* HANDPHONE */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }
}
