:root {
  --primary: #f2ece6;
  --bg: #ff7b00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
  min-height: 2000px;
  background: #ab5300;
  background: linear-gradient(135deg, #ff7b00, #ff9a3c, #ff4db8);
}

/* Navbar */
/* JANGAN ADA border:none di * */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 7%;
  border-bottom: 5px solid #f2ece6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: #ab5300;
  background: linear-gradient(135deg, #ff7b00, #ff4db8);
  z-index: 99999999999999;
}

.navbar-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  background-color: #ff7b00;
  background: linear-gradient(135deg, #ff7b00, #ff4db8);
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.navbar-title span {
  color: black;
  font-style: italic;
  margin-right: 0.2rem;
}

/* Navbar End */

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

.box {
  width: 340px;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.box h2 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  color: #555;
}

.timer {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--bg);
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn.start {
  background-color: var(--bg);
  color: white;
}

.btn.reset {
  background-color: #eee;
  color: #333;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Manfaat */

.Manfaat {
  padding: 4rem 7% 0.5rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--primary);
  border-radius: 20px;
  width: 900px;
  align-items: center;
  margin: 0 auto;
}

.Manfaat h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  background: linear-gradient(135deg, #ff9a3c, #ff4db8);
  background-clip: text;
  -webkit-background-clip: text;
  color: #ff9a3c;
  -webkit-text-fill-color: transparent;
  justify-content: center;
  display: flex;
}

.Mantap {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 1.4rem 7%;
  color: black;
  font-style: italic;
  text-align: justify;
}

.manfaat-list {
  text-align: center;
  padding-top: 150px;
}

.manfaat-list p {
  padding-top: 20px;
  font-size: 2rem;
  text-align: left;
  margin: 0 auto;
  width: 87%;
}
